<div class="row">
  <div class="col-md-8">
  
    <!-- Author section -->
                  
                <section class="author">
                        <!-- Author Name -->
                        <h4>{{ include.author.display_name }}</h4>
                        <!-- Author Bio -->
                        <p>
                            {{ include.author.bio }}
                            Contact <a href="http://twitter.com/{{ include.author.twitter }}">@{{ include.author.twitter }}</a>.
                        </p>
                </section>     
  
  </div>
  <div class="col-md-4 text-right">
  
  <!-- Share links section -->
    <h4>Share this post</h4>
    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/share?text={{ include.title }}&amp;{{ include.url }}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=www.arblog.com{{ include.url }}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url=www.arblog.com{{ include.url }}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <span class="fa fa-google"></span>
    </a>
  
  </div>
</div>
    
    
</section>
